.logo-black-icon {
    height: 38px;
    width: 148px;
    position: relative;
    object-fit: cover;
    min-height: 38px;
    cursor: pointer;
  }

  .about,
  .home {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
  }
  .home {
    min-width: 50px;
    cursor: pointer;
  }
  .about {
    min-width: 52px;
  }
  .contact {
    min-width: 65px;
  }
  .chef-login,
  .contact,
  .lorem {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
  }
  .chef-login {
    min-width: 88px;
    white-space: nowrap;
    cursor: pointer;
  }
  .lorem {
    min-width: 49px;
  }
  .center,
  .nav {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }
  .nav {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-black);
    font-family: var(--font-montserrat-alternates);
  }

  .nav a{
  text-decoration: none;
  color: black;
  }
  .center {
    width: 405px;
    flex-direction: column;
    min-height: 20px;
    max-width: 100%;
  }
  .admin-button1 {
    margin: 0;
    width: 56px;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    min-width: 56px;
  }
  .admin-button,
  .nav-bar,
  .right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .admin-button {
    border-radius: var(--br-8xs);
    border: 1px solid var(--color-black);
    justify-content: center;
    padding: var(--padding-5xs) var(--padding-6xl);
  }

  .admin-button a{
    text-decoration: none;
    color: black;
  }
  
  .nav-bar,
  .right {
    justify-content: flex-start;
  }
  .nav-bar {
    align-self: stretch;
    height: 88px;
    border-radius: var(--br-3xs);
    background-color: var(--white);
    overflow: hidden;
    flex-shrink: 0;
    justify-content: space-between;
    padding: var(--padding-6xl) var(--padding-17xl);
    box-sizing: border-box;
    top: 0;
    z-index: 99;
    position: sticky;
    max-width: 100%;
    gap: var(--gap-xl);
    text-align: center;
    font-size: var(--font-size-base);
    color: var(--color-black);
    font-family: var(--font-montserrat-alternates);
  }
  .header-image-icon {
    height: 358px;
    width: 1440px;
    position: relative;
    object-fit: cover;
    display: none;
    max-width: 100%;
  }
  .browse-our-recipes,
  .header-image {
    display: flex;
    justify-content: center;
  }
  .browse-our-recipes {
    margin: 0;
    width: 517px;
    position: relative;
    font-size: inherit;
    font-style: italic;
    font-weight: 700;
    font-family: inherit;
    align-items: center;
    cursor: pointer;
    z-index: 1;
  }
  .header-image {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    padding: 148px var(--padding-xl) 149px var(--padding-2xl);
    box-sizing: border-box;
    background-size: cover;
    background-image: url(recipepage_header_img.jpg);
    background-repeat: no-repeat;
    background-position: top;
    max-width: 100%;
  }
  .history-bar2 {
    align-self: stretch;
    width: 279px;
    position: relative;
    border-radius: var(--br-xl);
    background-color: var(--color-gainsboro-300);
    display: none;
  }
  .lorem-ipsum {
    margin: 0;
    font-weight: 600;
  }
  .lorem-ipsum-dolor,
  .ut-enim-ad {
    margin: 0;
    font-weight: 300;
  }
  .lorem-ipsum-lorem-container {
    height: 1192px;
    flex: 1;
    position: relative;
    line-height: 45px;
    display: flex;
    align-items: center;
    z-index: 1;
  }
  .history-bar-wrapper,
  .history-bar1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .history-bar1 {
    align-self: stretch;
    border-radius: var(--br-xl);
    background-color: var(--color-gainsboro-300);
    flex-direction: row;
    mix-blend-mode: normal;
  }
  .history-bar-wrapper {
    width: 279px;
    flex-direction: column;
    padding: 9px 0 0;
    box-sizing: border-box;
  }
  .categories {
    margin: 0;
    width: 220px;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search-box-child {
    width: 300px;
    border: 0;
    outline: 0;
    background-color: transparent;
    height: 21.5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2.5px 0 0;
    box-sizing: border-box;
    font-family: var(--font-roboto);
    font-size: var(--font-size-base);
    color: var(--color-gainsboro-200);
  }
  .icon {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 24px;
  }
  .search-box,
  .search-box-wrapper {
    display: flex;
    align-items: flex-start;
  }
  .search-box {
    align-self: stretch;
    flex: 1;
    border-radius: var(--br-3xs);
    background-color: var(--white);
    border: 1px solid var(--color-gainsboro-200);
    flex-direction: row;
    justify-content: space-between;
    padding: var(--padding-3xs) 11px var(--padding-3xs) var(--padding-lgi);
    gap: var(--gap-xl);
  }
  .search-box-wrapper {
    height: 45px;
    width: 300px;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-12xs) 0 0;
    box-sizing: border-box;
  }
  .categories-parent {
    width: 789px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
    max-width: 100%;
  }
  .koko-image-icon {
    height: 284.4px;
    width: 307.2px;
    position: relative;
    border-radius: var(--br-xl);
    object-fit: cover;
    display: none;
  }
  .breakfast1 {
    margin: 0;
    height: 93.8px;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 1;
  }
  .koko-image-parent {
    align-self: stretch;
    height: 284.4px;
    border-radius: var(--br-xl);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 var(--padding-41xl-2) var(--padding-12xs-1) var(--padding-42xl);
    box-sizing: border-box;
    background-image: url(Mmori\ koko.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .spiced-corn-porridge {
    margin: 0;
    height: 52px;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
  }
  .p {
    margin: 0;
  }
  .div {
    height: 28.9px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs-4) 0 0;
  }
  .minutes {
    height: 17.3px;
    position: relative;
    font-family: var(--paragraph-small-regular);
    display: inline-block;
    min-width: 54px;
    flex-shrink: 0;
  }
  .frame-div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-wrapper {
    flex-direction: column;
    padding: var(--padding-5xs-3) 0 0;
    font-size: var(--font-size-3xs);
    font-family: var(--font-basic);
  }
  .breakfast,
  .frame-wrapper,
  .spiced-corn-porridge-mmri-ko-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .spiced-corn-porridge-mmri-ko-parent {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-15xl-5);
    text-align: left;
    font-size: var(--font-size-mini);
    color: var(--color-black);
    font-family: var(--font-montserrat);
  }
  .breakfast {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-4xs-6);
    min-width: 230px;
    color: var(--white);
  }
  .jollof-image-icon {
    height: 284.4px;
    width: 307.2px;
    position: relative;
    border-radius: var(--br-xl);
    object-fit: cover;
    display: none;
  }
  .main-meals1 {
    margin: 0;
    height: 93.8px;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 1;
  }
  .jollof-image-parent {
    align-self: stretch;
    height: 284.4px;
    border-radius: var(--br-xl);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 var(--padding-27xl-8) var(--padding-12xs-1);
    box-sizing: border-box;
    background-image: url(Jollof.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .jollof-rice {
    margin: 0;
    align-self: stretch;
    height: 26px;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    flex-shrink: 0;
  }
  .jollof-rice-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs-4) 0 0;
  }
  .p1 {
    margin: 0;
  }
  .div1 {
    height: 28.9px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs-4) 0 0;
  }
  .minutes1 {
    height: 17.3px;
    position: relative;
    font-family: var(--paragraph-small-regular);
    display: inline-block;
    min-width: 53px;
  }
  .frame-parent2 {
    flex-direction: row;
    flex-shrink: 0;
    font-size: var(--font-size-3xs);
    font-family: var(--font-basic);
  }
  .frame-parent1,
  .frame-parent2,
  .main-meals {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent1 {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-27xl-7);
    text-align: left;
    font-size: var(--font-size-mini);
    color: var(--color-black);
    font-family: var(--font-montserrat);
  }
  .main-meals {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-base-9);
    min-width: 230px;
  }
  .sobolo-image-icon {
    height: 284.4px;
    width: 307.2px;
    position: relative;
    border-radius: var(--br-xl);
    object-fit: cover;
    display: none;
  }
  .drinks1 {
    margin: 0;
    height: 93.8px;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 1;
  }
  .sobolo-image-parent {
    align-self: stretch;
    height: 284.4px;
    border-radius: var(--br-xl);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 var(--padding-36xl-2) var(--padding-12xs-1);
    box-sizing: border-box;
    background-image: url(sobolo\ 2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .sobolo {
    height: 26px;
    width: 182.9px;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    flex-shrink: 0;
  }
  .p2,
  .sobolo {
    margin: 0;
  }
  .div2 {
    height: 28.9px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
  }
  .frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs-4) 0 0;
  }
  .minutes2 {
    height: 17.3px;
    position: relative;
    font-family: var(--paragraph-small-regular);
    display: inline-block;
    min-width: 53px;
  }
  .frame-parent3,
  .recipe-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-3xs);
    font-family: var(--font-basic);
  }
  .recipe-header {
    align-self: stretch;
    justify-content: space-between;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-mini);
    color: var(--color-black);
    font-family: var(--font-montserrat);
  }
  .drinks,
  .ghana-recipes {
    flex: 1;
    display: flex;
    align-items: flex-start;
  }
  .drinks {
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-mid-3);
    min-width: 230px;
  }
  .ghana-recipes {
    border-radius: var(--br-3xs);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 62.1px;
    max-width: 100%;
  }
  .frame-container,
  .ghana-recipes-wrapper {
    align-self: stretch;
    display: flex;
    max-width: 100%;
  }
  .ghana-recipes-wrapper {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 2.3px 0 0;
    box-sizing: border-box;
    font-size: var(--font-size-31xl);
    color: var(--color-whitesmoke-200);
    font-family: var(--font-montez);
  }
  .frame-container {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 13px;
  }
  .koko-image-icon1 {
    height: 284.4px;
    width: 307.2px;
    position: relative;
    border-radius: var(--br-xl);
    object-fit: cover;
    display: none;
  }
  .breakfast3 {
    margin: 0;
    height: 93.8px;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 1;
  }
  .spiced-corn-porridge1 {
    align-self: stretch;
    flex: 1;
    border-radius: var(--br-xl);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 var(--padding-41xl-2) var(--padding-12xs-1) var(--padding-42xl);
    background-image: url(Mmori\ koko.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .spiced-corn-porridge2 {
    margin: 0;
    height: 52px;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
  }
  .p3 {
    margin: 0;
  }
  .div3 {
    height: 28.9px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
  }
  .wrapper1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs-4) 0 0;
  }
  .minutes3 {
    height: 17.3px;
    position: relative;
    font-family: var(--paragraph-small-regular);
    display: inline-block;
    min-width: 54px;
    flex-shrink: 0;
  }
  .recipe-preparation-time {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .recipe-preparation-time-wrapper {
    flex-direction: column;
    padding: var(--padding-5xs-3) 0 0;
    font-size: var(--font-size-3xs);
    font-family: var(--font-basic);
  }
  .breakfast2,
  .food-name,
  .recipe-preparation-time-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .food-name {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-15xl-5);
    text-align: left;
    font-size: var(--font-size-mini);
    color: var(--color-black);
    font-family: var(--font-montserrat);
  }
  .breakfast2 {
    height: 345px;
    width: 307px;
    flex-direction: column;
    gap: var(--gap-4xs-6);
    color: var(--white);
  }
  .jollof-image-icon1 {
    height: 284.4px;
    width: 307.2px;
    position: relative;
    border-radius: var(--br-xl);
    object-fit: cover;
    display: none;
  }
  .main-meals3 {
    margin: 0;
    height: 93.8px;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 1;
  }
  .jollof-image-group {
    align-self: stretch;
    flex: 1;
    border-radius: var(--br-xl);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 var(--padding-27xl-8) var(--padding-12xs-1);
    background-image: url(Jollof.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .jollof-rice1 {
    margin: 0;
    align-self: stretch;
    height: 26px;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    flex-shrink: 0;
  }
  .jollof-rice-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs-4) 0 0;
  }
  .p4 {
    margin: 0;
  }
  .div4 {
    height: 28.9px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
  }
  .wrapper2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs-4) 0 0;
  }
  .minutes4 {
    height: 17.3px;
    position: relative;
    font-family: var(--paragraph-small-regular);
    display: inline-block;
    min-width: 53px;
  }
  .frame-parent5 {
    flex-direction: row;
    flex-shrink: 0;
    font-size: var(--font-size-3xs);
    font-family: var(--font-basic);
  }
  .frame-parent4,
  .frame-parent5,
  .main-meals2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent4 {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-27xl-7);
    text-align: left;
    font-size: var(--font-size-mini);
    color: var(--color-black);
    font-family: var(--font-montserrat);
  }
  .main-meals2 {
    height: 330.6px;
    width: 307px;
    flex-direction: column;
    gap: var(--gap-base-9);
  }
  .sobolo-image-icon1 {
    height: 284.4px;
    width: 307.2px;
    position: relative;
    border-radius: var(--br-xl);
    object-fit: cover;
    display: none;
  }
  .drinks3 {
    margin: 0;
    height: 93.8px;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 1;
  }
  .sobolo-image-group {
    align-self: stretch;
    flex: 1;
    border-radius: var(--br-xl);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 var(--padding-36xl-2) var(--padding-12xs-1);
    background-image: url(sobolo\ 2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .sobolo1 {
    margin: 0;
    height: 26px;
    width: 182.9px;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    flex-shrink: 0;
  }
  .p5 {
    margin: 0;
  }
  .div5 {
    height: 28.9px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
  }
  .wrapper3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs-4) 0 0;
  }
  .minutes5 {
    height: 17.3px;
    position: relative;
    font-family: var(--paragraph-small-regular);
    display: inline-block;
    min-width: 53px;
  }
  .frame-parent6 {
    flex-direction: row;
    justify-content: flex-start;
    font-size: var(--font-size-3xs);
    font-family: var(--font-basic);
  }
  .drinks2,
  .frame-parent6,
  .sobolo-parent {
    display: flex;
    align-items: flex-start;
  }
  .sobolo-parent {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-mini);
    color: var(--color-black);
    font-family: var(--font-montserrat);
  }
  .drinks2 {
    height: 332px;
    width: 307px;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-mid-3);
  }
  .koko-image-icon2 {
    height: 284.4px;
    width: 307.2px;
    position: relative;
    border-radius: var(--br-xl);
    object-fit: cover;
    display: none;
  }
  .breakfast5 {
    margin: 0;
    height: 93.8px;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 1;
  }
  .koko-image-group {
    align-self: stretch;
    flex: 1;
    border-radius: var(--br-xl);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 var(--padding-41xl-2) var(--padding-12xs-1) var(--padding-42xl);
    background-image: url(Mmori\ koko.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .spiced-corn-porridge3 {
    margin: 0;
    height: 52px;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
  }
  .p6 {
    margin: 0;
  }
  .div6 {
    height: 28.9px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
  }
  .wrapper4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs-4) 0 0;
  }
  .minutes6 {
    height: 17.3px;
    position: relative;
    font-family: var(--paragraph-small-regular);
    display: inline-block;
    min-width: 54px;
    flex-shrink: 0;
  }
  .frame-parent7 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-wrapper1 {
    flex-direction: column;
    padding: var(--padding-5xs-3) 0 0;
    font-size: var(--font-size-3xs);
    font-family: var(--font-basic);
  }
  .breakfast4,
  .frame-wrapper1,
  .spiced-corn-porridge-mmri-ko-group {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .spiced-corn-porridge-mmri-ko-group {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-15xl-5);
    text-align: left;
    font-size: var(--font-size-mini);
    color: var(--color-black);
    font-family: var(--font-montserrat);
  }
  .breakfast4 {
    height: 345px;
    width: 307px;
    flex-direction: column;
    gap: var(--gap-4xs-6);
    color: var(--white);
  }
  .jollof-image-icon2 {
    height: 284.4px;
    width: 307.2px;
    position: relative;
    border-radius: var(--br-xl);
    object-fit: cover;
    display: none;
  }
  .main-meals5 {
    margin: 0;
    height: 93.8px;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 1;
  }
  .jollof-image-container,
  .jollof-rice2 {
    align-self: stretch;
    flex-shrink: 0;
  }
  .jollof-image-container {
    height: 284.4px;
    border-radius: var(--br-xl);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 var(--padding-27xl-8) var(--padding-12xs-1);
    box-sizing: border-box;
    background-image: url(Jollof.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .jollof-rice2 {
    margin: 0;
    height: 26px;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
  }
  .jollof-rice-frame {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs-4) 0 0;
  }
  .p7 {
    margin: 0;
  }
  .div7 {
    height: 28.9px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
  }
  .wrapper5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs-4) 0 0;
  }
  .minutes7 {
    height: 17.3px;
    position: relative;
    font-family: var(--paragraph-small-regular);
    display: inline-block;
    min-width: 53px;
  }
  .frame-parent9 {
    flex-direction: row;
    flex-shrink: 0;
    font-size: var(--font-size-3xs);
    font-family: var(--font-basic);
  }
  .frame-parent8,
  .frame-parent9,
  .main-meals4 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent8 {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-27xl-7);
    flex-shrink: 0;
    text-align: left;
    font-size: var(--font-size-mini);
    color: var(--color-black);
    font-family: var(--font-montserrat);
  }
  .main-meals4 {
    height: 330.6px;
    width: 307px;
    flex-direction: column;
    padding: 0 0 46.2px;
    box-sizing: border-box;
    gap: var(--gap-base-9);
  }
  .sobolo-image-icon2 {
    height: 284.4px;
    width: 307.2px;
    position: relative;
    border-radius: var(--br-xl);
    object-fit: cover;
    display: none;
  }
  .drinks5 {
    margin: 0;
    height: 93.8px;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 1;
  }
  .sobolo-image-container {
    align-self: stretch;
    flex: 1;
    border-radius: var(--br-xl);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 var(--padding-36xl-2) var(--padding-12xs-1);
    background-image: url(sobolo\ 2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .sobolo2 {
    margin: 0;
    height: 26px;
    width: 182.9px;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    flex-shrink: 0;
  }
  .p8 {
    margin: 0;
  }
  .div8 {
    height: 28.9px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
  }
  .wrapper6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs-4) 0 0;
  }
  .minutes8 {
    height: 17.3px;
    position: relative;
    font-family: var(--paragraph-small-regular);
    display: inline-block;
    min-width: 53px;
  }
  .frame-parent10,
  .sobolo-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-3xs);
    font-family: var(--font-basic);
  }
  .sobolo-group {
    align-self: stretch;
    justify-content: space-between;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-mini);
    color: var(--color-black);
    font-family: var(--font-montserrat);
  }
  .drinks4 {
    height: 332px;
    width: 307px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-mid-3);
  }
  .breakfast-parent,
  .drinks4,
  .frame-group {
    display: flex;
    justify-content: flex-start;
  }
  .breakfast-parent {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 28px 60px;
    min-height: 718px;
    font-size: var(--font-size-31xl);
    color: var(--color-whitesmoke-200);
    font-family: var(--font-montez);
  }
  .frame-group {
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    gap: 41px;
    max-width: calc(100% - 328px);
    font-size: var(--font-size-21xl);
    font-family: var(--font-montserrat-alternates);
  }
  .frame-parent {
    flex: 1;
    flex-direction: row;
    gap: 49px;
    max-width: 100%;
  }
  .frame-parent,
  .history-bar,
  .history-bar-inner,
  .nav-bar-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .history-bar-inner {
    width: 1421px;
    flex-direction: row;
    padding: 0 22px 0 22.5px;
    box-sizing: border-box;
    max-width: 100%;
    font-size: 23px;
    color: var(--color-black);
  }
  .history-bar,
  .nav-bar-parent {
    align-self: stretch;
    flex-direction: column;
  }
  .history-bar {
    gap: 14px;
    max-width: 100%;
    text-align: center;
    font-size: var(--font-size-31xl);
    color: var(--white);
    font-family: var(--font-montserrat);
  }
  .nav-bar-parent {
    padding: 0;
    flex-shrink: 0;
  }
  .icon-paper-plane {
    height: 14px;
    width: 13px;
    position: relative;
  }
  .city2 {
    position: relative;
    display: inline-block;
    min-width: 21px;
  }
  .city,
  .city1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .city1 {
    border-bottom: 1px dashed var(--color-slategray);
    flex-direction: column;
    padding: 0 0 var(--padding-9xs);
  }
  .city {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-3xs);
  }
  .icon-location-pin {
    height: 14px;
    width: 10.4px;
    position: relative;
  }
  .address3 {
    position: relative;
    display: inline-block;
    min-width: 45px;
  }
  .address,
  .address1,
  .address2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .address2 {
    border-bottom: 1px dashed var(--color-slategray);
    flex-direction: column;
    padding: 0 0 var(--padding-9xs);
  }
  .address,
  .address1 {
    flex-direction: row;
  }
  .address1 {
    align-self: stretch;
    padding: 0;
    gap: var(--gap-3xs);
  }
  .address {
    flex: 1;
    padding: 0 var(--padding-12xs-1) 0 0;
    gap: var(--gap-xl);
  }
  .address-wrapper {
    height: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 var(--padding-21xl) var(--padding-sm) 0;
    box-sizing: border-box;
  }
  .are-you-a {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
  }
  .are-you-a-chef {
    width: 576px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 var(--padding-sm);
    box-sizing: border-box;
    max-width: 100%;
    text-align: center;
    font-size: var(--font-size-xl);
    font-family: var(--font-montserrat);
  }
  .add-recipe {
    width: 74px;
    position: relative;
    font-size: var(--font-size-mini);
    font-weight: 600;
    font-family: var(--font-urbanist);
    color: var(--color-black);
    text-align: center;
    display: inline-block;
    min-width: 74px;
    cursor: pointer;
  }
  .add-recipebutton {
    cursor: pointer;
    border: 0;
    padding: var(--padding-base) var(--padding-31xl);
    background-color: var(--color-gainsboro-100);
    border-radius: var(--br-5xs);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    white-space: nowrap;
  }
  .add-recipebutton:hover {
    background-color: var(--color-silver);
  }
  .frame-parent12,
  .frame-wrapper2 {
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }
  .frame-parent12 {
    flex: 1;
    align-items: flex-end;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .frame-wrapper2 {
    width: 1162px;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-18xl);
    box-sizing: border-box;
  }
  .divider {
    align-self: stretch;
    height: 1px;
    position: relative;
    background-color: var(--grey-200);
  }
  .frame-parent11 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    max-width: 100%;
  }
  .logo-white-icon {
    width: 124px;
    height: 37px;
    position: relative;
    object-fit: cover;
  }
  .logo-white {
    height: 37px;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .kingsley-all-rights {
    margin: 0;
    width: 243px;
    position: relative;
    font-size: inherit;
    line-height: 20px;
    font-weight: 400;
    font-family: inherit;
    display: flex;
    align-items: center;
  }
  .progress-bar-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: var(--padding-2xs-5) var(--padding-xl);
    box-sizing: border-box;
    min-width: 243px;
    max-width: 100%;
  }
  .linkedin-logo-icon {
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .linkedin-logo-wrapper {
    height: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 var(--padding-5xs) var(--padding-5xs) 0;
    box-sizing: border-box;
  }
  .twitter-logo-icon {
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .twitter-logo-wrapper {
    height: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 var(--padding-5xs) var(--padding-5xs) 0;
    box-sizing: border-box;
  }
  .instagram-logo-icon {
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .instagram-logo-wrapper {
    height: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 var(--padding-5xs) var(--padding-5xs) 0;
    box-sizing: border-box;
  }
  .facebook-logo-icon {
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .facebook-logo-wrapper {
    height: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 var(--padding-5xs) var(--padding-5xs) 0;
    box-sizing: border-box;
  }
  .youtube-logo-icon {
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .youtube-logo-wrapper {
    height: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 var(--padding-5xs);
    box-sizing: border-box;
  }
  .logo-white-parent {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    max-width: 100%;
  }
  .footer,
  .footer-inner,
  .recipe-page {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .footer-inner {
    width: 1179px;
    flex-direction: row;
    padding: 0 var(--padding-18xl);
    box-sizing: border-box;
    max-width: 100%;
    font-size: var(--paragraph-small-regular-size);
    color: var(--light-grey);
    font-family: var(--paragraph-small-regular);
  }
  .footer,
  .recipe-page {
    overflow: hidden;
    flex-direction: column;
  }
  .footer {
    align-self: stretch;
    background-color: var(--color-gray);
    padding: var(--padding-xl) var(--padding-93xl) var(--padding-11xl-4);
    gap: var(--gap-14xl);
    flex-shrink: 0;
    text-align: left;
    font-size: var(--font-size-xs);
    color: var(--white);
    font-family: var(--font-roboto);
  }
  .recipe-page {
    width: 100%;
    height: 1917px;
    position: relative;
    background-color: var(--white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0 0 256px;
    box-sizing: border-box;
    gap: 73px;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1275px) {
    .frame-parent12 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1100px) {
    .history-bar-wrapper {
      display: none;
    }
    .ghana-recipes {
      gap: 31px;
    }
    .frame-group {
      max-width: 100%;
    }
  }
  @media screen and (max-width: 750px) {
    .center {
      display: none;
    }
    .browse-our-recipes {
      font-size: var(--font-size-21xl);
    }
    .categories {
      font-size: 32px;
    }
    .categories-parent {
      flex-wrap: wrap;
    }
    .breakfast1,
    .drinks1,
    .main-meals1 {
      font-size: var(--font-size-21xl);
    }
    .ghana-recipes {
      gap: var(--gap-base);
    }
    .breakfast3,
    .breakfast5,
    .drinks3,
    .drinks5,
    .main-meals3,
    .main-meals5 {
      font-size: var(--font-size-21xl);
    }
    .breakfast-parent {
      gap: 28px 30px;
    }
    .frame-group {
      gap: 20px 41px;
    }
    .frame-parent {
      gap: 49px 24px;
    }
    .footer {
      gap: 16px 33px;
      padding-left: var(--padding-37xl);
      padding-right: var(--padding-37xl);
      box-sizing: border-box;
    }
    .recipe-page {
      height: auto;
      gap: 36px 73px;
    }
  }
  @media screen and (max-width: 450px) {
    .browse-our-recipes {
      font-size: var(--font-size-11xl);
    }
    .header-image {
      padding-top: 96px;
      padding-bottom: 97px;
      box-sizing: border-box;
    }
    .lorem-ipsum-lorem-container {
      font-size: var(--font-size-lg);
      line-height: 36px;
    }
    .categories {
      font-size: var(--font-size-5xl);
    }
    .breakfast1 {
      font-size: var(--font-size-11xl);
    }
    .koko-image-parent {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .spiced-corn-porridge-mmri-ko-parent {
      gap: 34.5px 17px;
    }
    .main-meals1 {
      font-size: var(--font-size-11xl);
    }
    .jollof-image-parent {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .frame-parent1 {
      gap: 46.7px 23px;
    }
    .drinks1 {
      font-size: var(--font-size-11xl);
    }
    .sobolo-image-parent {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .breakfast3 {
      font-size: var(--font-size-11xl);
    }
    .spiced-corn-porridge1 {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .food-name {
      gap: 34.5px 17px;
    }
    .main-meals3 {
      font-size: var(--font-size-11xl);
    }
    .jollof-image-group {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .frame-parent4 {
      gap: 46.7px 23px;
    }
    .drinks3 {
      font-size: var(--font-size-11xl);
    }
    .sobolo-image-group {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .breakfast5 {
      font-size: var(--font-size-11xl);
    }
    .koko-image-group {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .spiced-corn-porridge-mmri-ko-group {
      gap: 34.5px 17px;
    }
    .main-meals5 {
      font-size: var(--font-size-11xl);
    }
    .jollof-image-container {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .frame-parent8 {
      gap: 46.7px 23px;
    }
    .main-meals4 {
      padding-bottom: 30px;
      box-sizing: border-box;
    }
    .drinks5 {
      font-size: var(--font-size-11xl);
    }
    .sobolo-image-container {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .breakfast-parent {
      gap: 28px 15px;
    }
    .are-you-a {
      font-size: var(--font-size-base);
    }
    .progress-bar-container {
      gap: 141px 70px;
    }
    .footer {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .recipe-page {
      gap: 18px 73px;
    }}