 .wood-background {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
 }
  .logo-white-icon2 {
    height: 131px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
  }
  .logo-white-container {
    width: 330px;
    height: 131px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-15xl) 0 var(--padding-15xl-5);
    box-sizing: border-box;
    max-width: 100%;
  }
  .welcome-chef {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.01em;
    line-height: 130%;
    font-weight: 700;
    font-family: inherit;
  }
  .welcome-chef-wrapper {
    width: 330px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-6xl);
    box-sizing: border-box;
    max-width: 100%;
    font-size: var(--font-size-11xl);
  }
  .email-button-button-child {
    height: 56px;
    width: 330px;
    position: relative;
    border-radius: var(--br-5xs);
    background-color: var(--color-whitesmoke-100);
    border: 5px solid var(--color-gainsboro-100);
    box-sizing: border-box;
    display: none;
    max-width: 100%;
  }
  .enter-your-email {
    width: 107.7px;
    border: 0;
    outline: 0;
    font-weight: 500;
    font-family: var(--font-urbanist);
    font-size: var(--font-size-mini);
    background-color: transparent;
    height: 19px;
    position: relative;
    line-height: 125%;
    color: var(--color-lightslategray);
    text-align: left;
    display: flex;
    align-items: flex-end;
    padding: 0;
    z-index: 1;
  }
  .email-button-button,
  .password-button-item {
    width: 330px;
    border-radius: var(--br-5xs);
    background-color: var(--color-whitesmoke-100);
    border: 1px solid var(--color-gainsboro-100);
    box-sizing: border-box;
    max-width: 100%;
  }
  .email-button-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-lgi) var(--padding-lgi-9) var(--padding-lg);
  }
  .password-button-item {
    height: 56px;
    position: relative;
    display: none;
  }
  .enter-your-password {
    align-self: stretch;
    position: relative;
    line-height: 19px;
    font-weight: 500;
    z-index: 1;
  }
  .password-input-field input {
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 var(--padding-12xs);
    box-sizing: border-box;
    outline: none;
    border: none;
    background-color: inherit;
  }

  .email-button-button-child input {
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 var(--padding-12xs);
    box-sizing: border-box;
    outline: none;
    border: none;
    background-color: inherit;
  }
  

  .fluenteye-20-filled-icon {
    height: 22px;
    width: 21.9px;
    position: relative;
    border-radius: var(--br-5xs);
    overflow: hidden;
    flex-shrink: 0;
    min-height: 22px;
    z-index: 1;
  }
  .password-button1 {
    width: 330px;
    height: 56px;
    border-radius: var(--br-5xs);
    background-color: var(--color-whitesmoke-100);
    border: 1px solid var(--color-gainsboro-100);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: var(--padding-mid) var(--padding-3xs) var(--padding-mid)
      var(--padding-xl);
    max-width: 100%;
    gap: var(--gap-xl);
    text-align: left;
    color: var(--color-lightslategray);
  }
  .forgot-password {
    width: 111px;
    position: relative;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    min-width: 111px;
  }
  .forgot-password-wrapper {
    width: 330px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 100%;
    text-align: right;
    font-size: var(--paragraph-small-regular-size);
    color: red;
  }
  .login-button-child {
    height: 56px;
    width: 330px;
    position: relative;
    border-radius: var(--br-5xs);
    background-color: var(--color-black);
    display: none;
    max-width: 100%;
  }
  .login {
    width: 35.9px;
    position: relative;
    font-size: var(--font-size-mini);
    font-weight: 600;
    font-family: var(--font-urbanist);
    color: white;
    text-align: center;
    display: inline-block;
    flex-shrink: 0;
    min-width: 35.9px;
    z-index: 1;
  }
  .login-button {
    cursor: pointer;
    border: 0;
    padding: var(--padding-lgi) var(--padding-xl) var(--padding-lgi)
      var(--padding-2xl);
    background-color: var(--color-black);
    width: 330px;
    border-radius: var(--br-5xs);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    max-width: 100%;
  }
  .login-button:hover {
    background-color: #333;
  }
  .dont-have-an {
    margin-right: -19px;
    width: 212px;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 140%;
    font-weight: 500;
    display: inline-block;
    flex-shrink: 0;
  }
  .dont-have-an-account-wrapper {
    width: 193px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    box-sizing: border-box;
  }
  .sign-up-now {
    width: 112px;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 140%;
    display: inline-block;
    color: var(--primary);
    text-align: left;
    flex-shrink: 0;
    cursor: pointer;
  }
  .sign-up-comment {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    row-gap: 20px;
  }
  .sign-up-comment-wrapper {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 12px 0 12.5px;
    max-width: 100%;
  }
  .chef-login1,
  .login-tab,
  .sign-up-comment-wrapper {
    display: flex;
    box-sizing: border-box;
  }
  .login-tab {
    width: 400px;
    border-radius: var(--br-11xl);
    background-color: var(--color-gray);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--color-black);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 58px var(--padding-xl) 59px;
    gap: 47px;
    max-width: 100%;
    z-index: 1;
  }
  .chef-login1 {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--color-black);
    overflow: hidden;
    justify-content: center;
    padding: var(--padding-106xl) var(--padding-xl) var(--padding-105xl);
    letter-spacing: normal;
    text-align: center;
    font-size: relative;
    color: white;
    font-family: urbanist
  }
