@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
  background: url('homepage_backgound.jpg');
  background-size: cover;
  margin: 0;
  padding: 0;
  padding-top: 60px;
}
header {
  text-align: center;
  background-color:transparent;
  padding: 20px;
  animation-delay: 0.5s;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  height: 60px;
  left: 0;
  
}

.logo-container {
  height: 100%; /* Full height of the navbar */
  display: flex;
  align-items: center;
  
}

.logo {
  height: 140px; /* Adjust the height as needed */
  object-fit: contain; /* This will prevent the logo from stretching */
  max-width: 100%; /* Ensure the logo does not overflow the navbar */
}

.nav-buttons {
  list-style: none;
  display: flex;
  align-items: normal;
  padding: 0;
  margin: 0;
}

.nav-buttons li {
  padding: 0 30px;
}

.nav-buttons li a {
  text-decoration: none;
  color: #bebdbd;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-buttons li a:hover {
  color: #6e7c83;
}

.login-button {
  padding: 5px 15px;
  background-color: #242425;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navbar, footer {
  background: linear-gradient(to left, #1e1c158e, #151d06c2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 3em; /* Adjust size as needed */
  color: black; /* Adjust color as needed */
  text-shadow: 2px 2px 4px #555555; /* Adds a shadow to the text */
  text-align: center; /* Centers the text */
  animation-delay: 0.5s;
  
}

main {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}
.recipes, .chef {
  width: 45%;
  height: 350px;
  background-size: cover;
  border: 1px solid #333;
  position: relative;
  border-radius: 30px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.recipes a, .chef a {
  position: absolute;
  bottom: 20px; /* Adjust the distance from the bottom */
  left: 50%;
  transform: translateX(-50%); /* Center the text horizontally */
  text-decoration: none; /* Remove the hyperlink styling */
  color: #fff; /* Set the text color */
  background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background */
  padding: 12px 24px; /* Add some padding */
  border-radius: 5px; /* Optional: round the corners */
  font-size: 35px;
  box-shadow: none;
  text-align: center;
  margin: 0;
  display: inline-block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}

.recipes a:hover, .chef a:hover {
  color:wheat;
}

.recipes {
  background-image: url('recipe.jpg');
}

.chef {
  background-image: url('chef.jpg');
}

.recipes:hover, .chef:hover {
  transform: scale(1.05); /* Slightly increase the size on hover */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center; 
}

.footer-content p {
  font-size: 16px;
  color: #a8d0e6;
}

.social-media {
  display: flex;
  justify-content: flex-end;
}   

.social-media a {
  margin: 0 15px;
}

.social-media img {
  height: 25px; /* Adjust as needed */
  transition: transform 0.2s ease;
}

.social-media img:hover {
  transform: scale(1.1);
}

