@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat Alternates', sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  height: 60px;
  left: 0;
  z-index: 1;
  
}

.logo-container {
  height: 100%; 
  display: flex;
  align-items: center;
  
}

.logo {
  height: 140px; 
  object-fit: contain; 
  max-width: 100%; 
}

.nav-buttons {
  list-style: none;
  display: flex;
  align-items: normal;
  padding: 0;
  margin: 0;
}

.nav-buttons li {
  padding: 0 30px;
}

.nav-buttons li a {
  text-decoration: none;
  color: #bebdbd;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-buttons li a:hover {
  color: #6e7c83;
}

.login-button {
  padding: 5px 15px;
  background-color: #242425;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navbar, footer {
  background: linear-gradient(to left, #1e1c158e, #151d06c2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Footer styles*/

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  left: 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  
}

.footer-content p {
  font-size: 16px;
  color: #a8d0e6;
}

.social-media {
  display: flex;
  justify-content: flex-end;
}   

.social-media a {
  margin: 0 15px;
}

.social-media img {
  height: 25px; 
  transition: transform 0.2s ease;
}

.social-media img:hover {
  transform: scale(1.1);
}

.banner {
  background-image: url('recipepage_header_img.jpg');
  background-size: cover;
  padding: 50px 0;
  text-align: center;
  color: white;
  margin-top: 60px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner a {
  text-decoration: none;
  color: inherit; 
}

.banner-text {
  text-align: center;
  color: white; 
}

.category {
  text-align: left;
  color: #edeaea;
}


.content1 {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
aside {
  width: 15%; 
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-right: 20px; 
  margin-bottom: 60px;
}

aside h2 {
  color: #333; 
  font-size: 18px;
  margin-bottom: 10px; 
}
.categories {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.category-card {
  width: calc(33.33% - 10px); /* Adjusting the width to fit about three recipes in a row */
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin: 30px 30px; 
  background-size: cover;
  margin-bottom: 80px;
}

.breakfast {
  background-image: url('IMAGES/hausa\ koko\ 2.jpg');
}

.main-meals {
  background-image: url('IMAGES/Jollof.jpg');
}

.drinks {
  background-image: url('IMAGES/sobolo\ 2.jpg');
}

.category-card:hover {
  transform: translateY(-5px);
}

.category {
  text-align: center; 
  color: #000;
}

.category h2 {
  color: #fff;
  position: bottom;
}

a {
  text-decoration: none;
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.recipe-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  grid-gap: 20px;
  padding: 0 20px; 
  margin-bottom: 20px; 
}


.recipe {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe h3 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.recipe img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  object-fit: cover; 
  object-position: top; 
}

.recipe p {
  color: #666;
  margin-bottom: 5px;
}

.recipe ul,
.recipe ol {
  margin-left: 20px;
  margin-bottom: 10px;
}

.recipe ul li,
.recipe ol li {
  margin-bottom: 5px;
}


footer button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  
}
